fastapi
uvicorn[standard]

sqlalchemy
alembic

asyncpg
psycopg2-binary

redis

pydantic-settings

python-jose
passlib[bcrypt]==1.7.4
bcrypt==4.0.1

qdrant-client
openai
python-dotenv

pytest
pytest-asyncio
httpx
websockets